@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    font-weight: 400;
    font-size: 15px;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.main-container {
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
}

#qr-image {
    width: 100%;
    margin-bottom: 1rem;
}

img {
    width: 100%;
    border-radius: 15px;
    padding: 5px;
}

.text-section {
    text-align: center;
    margin: auto;
    width: 90%;
}

.heading {
    color: hsl(218, 44%, 22%);
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.text-box {
    font-size: 0.9rem;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    margin-bottom: 20px;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: auto;
}

.attribution a { 
        color: hsl(228, 45%, 44%); 
    }